[logging]
 default = FILE:/var/log/krb5libs.log
 kdc = FILE:/var/log/krb5kdc.log
 admin_server = FILE:/var/log/kadmind.log

[libdefaults]
 default_realm = {{kerberos_realm}}
 dns_lookup_realm = false
 dns_lookup_kdc = false
 ticket_lifetime = 24h
 rdns = false
 allow_weak_crypto = true
 renew_lifetime = 7d
 forwardable = true

[realms]
 {{kerberos_realm}} = {
  kdc = {{kdc_server_name}}.{{adds_domain}}
  admin_server = {{kdc_server_name}}.{{adds_domain}}
 }
